.mainPage {
  display: block;
  width: 100%;
  font-family: "DroidSans", sans-serif;
}

.mainPageWidth {
  margin: 0 auto;
  max-width: 1350px;
}

@font-face {
  font-family: "DroidSans";
  src: url("../fonts/DroidSans.ttf") format("truetype"),
    url("../fonts/DroidSans-Bold.ttf") format("truetype");
}
