html,
body {
  margin: 0;
  padding: 0;
}


#main {
  display: block;
  width: 100%;
  font-family: "DroidSans", sans-serif;
}

@font-face {
  font-family: "DroidSans";
  src: url("../fonts/DroidSans.ttf") format("truetype"),
    url("../fonts/DroidSans-Bold.ttf") format("truetype");
}