/** Header Styling */
.header {
  padding-top: 20px;
  padding-bottom: 150px;
  /* background-image: linear-gradient(#3f3f3f, #ffffff);
   */
  background-image: linear-gradient(to bottom,rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 340px);
  width: 100%;
}

.headerWidth {
  max-width: 1350px;
  margin: 0 auto;
  border: none;
}

.LOGO {
  text-decoration: none;
  font-size: 0.6rem;
  padding: 0;
  margin: 0;
}

.LOGO:hover .mainLink {
  color: #790028;
  text-decoration: underline;
}

.mainLink {
  color: #680727;
  text-decoration: underline;
  margin: 0;
  padding: 0;
  display: inline-block;
}

/** Header Styling Ends */

/** Navigation Panel Styling */
.nav {
  display: flex;
  padding-top: 30px;
  font-size: 1rem;
  max-width: 960px;
  margin: 0 auto;
}

.navItem {
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 16px;
}

.navItem:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.navItem:hover .navLink {
  color: #680727;
}

.navLink {
  color: #ffffff;
  text-decoration: none;
}

.navLink:hover {
  color: #680727;
}

/** Navigation Panel Styling Ends */




